{% load static %}
{% load staticfiles %}
<!DOCTYPE HTML>
<!--
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>

    <title>찍사</title>
    <meta property="og:image" content="{% static 'images/banner.jpg' %}">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/skel.min.js' %}"></script>
    <script src="{% static 'js/skel-layers.min.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>

    <noscript>
        <link rel="stylesheet" href="{% static 'css/skel.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style-xlarge.css' %}" />
    </noscript>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</head>

<body id="top">

    <!-- Header -->
    <header id="header" class="skel-layers-fixed">
        <h1 class='logo'><a href={% url 'home' %}>찍사</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="{% url 'list' %}">모든상품</a></li>
                <li><a href="{% url 'bestphoto' %}">이달의 사진</a></li>
                <li><a href="{% url 'recommend' %}">추천여행지</a></li>
                <li><a href="{% url 'enroll' %}">작가 등록하기</a></li>
                <li><a href="{% url 'login' %}">로그인/가입</a></li>
            </ul>
        </nav>
    </header>

    <div class="inner">
        <div style="color: #ffffff; margin:5em 0;">
            <form class="banner-form" method="post" action="#">
                <select name="option">
                    <option value="place">지역</option>
                    <option value="photographer">작가</option>
                    <option value="hash">해시태그</option>
                </select>
                <input type="text" class="form-control" id="email" placeholder="검색어를 입력해주세요" name="email" required="">
                <button type="submit" class="btn btn-default">검색</button>
            </form>
        </div>
    </div>


    <div class="goods">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="margin-top:2rem;width: 18rem;">
                    <img src="{% static 'images/pic01.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="">
                            <h5 class="card-title">상품 제목</h5>
                        </a>
                        <p class="card-text">
                            상품요약
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">작가</li>
                        <li class="list-group-item">가격대~</li>
                        <li class="list-group-item">평점및리뷰수</li>
                    </ul>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="margin-top:2rem;width: 18rem;">
                    <img src="{% static 'images/pic01.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="">
                            <h5 class="card-title">상품 제목</h5>
                        </a>
                        <p class="card-text">
                            상품요약
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">작가</li>
                        <li class="list-group-item">가격대~</li>
                        <li class="list-group-item">평점및리뷰수</li>
                    </ul>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="margin-top:2rem;width: 18rem;">
                    <img src="{% static 'images/pic01.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="">
                            <h5 class="card-title">상품 제목</h5>
                        </a>
                        <p class="card-text">
                            상품요약
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">작가</li>
                        <li class="list-group-item">가격대~</li>
                        <li class="list-group-item">평점및리뷰수</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="margin-top:2rem;width: 18rem;">
                    <img src="{% static 'images/pic01.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="">
                            <h5 class="card-title">상품 제목</h5>
                        </a>
                        <p class="card-text">
                            상품요약
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">작가</li>
                        <li class="list-group-item">가격대~</li>
                        <li class="list-group-item">평점및리뷰수</li>
                    </ul>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="margin-top:2rem;width: 18rem;">
                    <img src="{% static 'images/pic01.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="">
                            <h5 class="card-title">상품 제목</h5>
                        </a>
                        <p class="card-text">
                            상품요약
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">작가</li>
                        <li class="list-group-item">가격대~</li>
                        <li class="list-group-item">평점및리뷰수</li>
                    </ul>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="margin-top:2rem;width: 18rem;">
                    <img src="{% static 'images/pic01.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="">
                            <h5 class="card-title">상품 제목</h5>
                        </a>
                        <p class="card-text">
                            상품요약
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">작가</li>
                        <li class="list-group-item">가격대~</li>
                        <li class="list-group-item">평점및리뷰수</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="margin-top:2rem;width: 18rem;">
                    <img src="{% static 'images/pic01.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="">
                            <h5 class="card-title">상품 제목</h5>
                        </a>
                        <p class="card-text">
                            상품요약
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">작가</li>
                        <li class="list-group-item">가격대~</li>
                        <li class="list-group-item">평점및리뷰수</li>
                    </ul>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="margin-top:2rem;width: 18rem;">
                    <img src="{% static 'images/pic01.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="">
                            <h5 class="card-title">상품 제목</h5>
                        </a>
                        <p class="card-text">
                            상품요약
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">작가</li>
                        <li class="list-group-item">가격대~</li>
                        <li class="list-group-item">평점및리뷰수</li>
                    </ul>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="margin-top:2rem;width: 18rem;">
                    <img src="{% static 'images/pic01.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="">
                            <h5 class="card-title">상품 제목</h5>
                        </a>
                        <p class="card-text">
                            상품요약
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">작가</li>
                        <li class="list-group-item">가격대~</li>
                        <li class="list-group-item">평점및리뷰수</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="map">
        지도
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <div class="row double">
                <div class="20u">
                    <div class="row collapse-at-3">
                        <div class="19u">
                            <ul class="alt">
                                <li><a href="#">주식회사 Bee | 대표 : 공필상 | gofeel8@likelion.org</a></li>
                                <li><a href="#">주소 : 전라북도 금암5길 17 | 사업자등록번호 : 123-45-6789 | 대표번호 : 010-4923-0847</a>
                                </li>
                                <li><a href="#">문의 : 카카오톡 플러스 친구 '찍사'</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="2u">

                    <ul class="icons">
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    </ul>
                </div>
            </div>
            <ul class="copyright">
                <li>&copy;Bee</li>
                <li>이용약관</li>
                <li>개인정보처리방침</li>
                <li>사업자정보확인</li>
            </ul>
        </div>
    </footer>

</body>

</html>